<section class="mt-4 flex flex-col gap-0.5 rounded-md overflow-hidden">
  <div
    class="flex flex-col gap-0.5 max-h-[346px] overflow-y-auto"
    cdkDropList
    [cdkDropListData]="store.filteredTodos()"
    (cdkDropListDropped)="drop($event)">
    @for (todo of store.filteredTodos(); track todo.id) {
      <todo
        [todo]="todo"
        cdkDrag>
      </todo>
    } @empty {
      <article class="bg-white text-[#494C6B] dark:text-[#C8CBE7] dark:bg-[rgb(37,39,61)] flex gap-2 items-center py-4 px-6">
        <p class="text-center w-full">It's empty here</p>
      </article>
    }
  </div>
  <todo-list-footer></todo-list-footer>
</section>
